body{
    background: black;
}

.video_bdr{
    display:block; 
}

.led_mask{
    position:absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    margin: 0 0 0 0;
}

#afui.android label#status{
    hegith:30px;
    text-align: center;
    padding: 11px 5px;
}

#afui.android label#fps{
    color:#f0f;
    position:absolute;
    hegith:30px;
    text-align: left;
    padding: 5px 5px;
}

#videos_div{
    background-color: black;
    text-align:center;
    width:100%;
    height:50%;
    position:relative;
}

#remotevideo_div{
    background-color: gray;
    width:100%;
/*    height:50%;*/
    z-index:1;
}

#myvideo_div{
    background-color: black;
    position:absolute;
    top:0px;
    left:75%;
    width:25%;
    height:50%;
    z-index:2;
}

#room_div{
    margin-top: 10px;
}

#localVideo, #remoteVideo{
    width:100%;
    height:100%;
}

#localVideo, #remoteVideo{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#curCanvas {
}

#cameraVideo {
    width:100%;
    height:50%;
    opacity: 0;
    margin-top: -100%;
}

#afui.android textarea#message {
    background-color: white;
    color: black;
    height: 160px;
}

.div-inline{ display:inline} 

#restart_div{ 
    float:left;
    width:29%;
} 
#restart_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#restart_btn :hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
#restart_btn :active {
	position:relative;
	top:1px;
}
#selector_div{ 
    float:right;
    width:70%;
} 